<h1>本当に退会しますか？</h1>
<P>
  退会すると、会員情報登録や</br>
  これまでの購入履歴が閲覧できなくなります。</br>
  大会する場合は、「大会する」をクリックしてください。
</P>

<%=  link_to "退会しない" ,customers_my_page_path %>
<%= link_to "退会する",customers_withdraw_path,method: :patch %>